body {
    margin: 40px auto;
    width: fit-content;
    height: fit-content
}

html {
    background: #000000ad;
}


button {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: none;
    border-radius: 5px;
    font-size: larger;
}



.background {
    display: inline-block;
    border: thin solid #000000ad;
    background: #fbfbfbbf;
    box-shadow: inset 0px 0px 20px -4px;
    padding: 30px;
    border-radius: 20px;
}
.calculator {
    display: grid;
    grid: repeat(5, 50px) / repeat(4, 100px);
    grid-area: 2 / 2 / 2 / 2; 
    grid-gap: 2px 2px;
    height: 330px;
    
}

.screen {
    grid-area: 1 / 1 / 1 / span4;
    background: #ffffffc7;
    border-radius: 5px;
    text-align: end;
    padding: 10px 5px;
    font-size: xx-large;
    font-family: serif;
}

.whipe {
    display: grid;
    grid-area: 2 / 1 / 2 / span 4;
    grid: 50px / repeat(4, 100px);
    grid-gap: 2px 2px;
    align-content: end;
    margin-top: 20px;
}

.backspace {
    display: grid;
    grid-area: 1 / 1 / 1 / span 2;
    align-content: end;
}

.clear {
    display: grid;
    grid-area: 1 / 3 / 1 / span 2;
    align-content: end;
}


.numpad {
    display: grid;
    grid-area: 3 / 1 / span 4 / span 3;
    grid: repeat(4, 50px) / repeat(3, 100px);
    grid-gap: 2px 2px;
    align-content: end;
}

.operations {
    display: grid;
    grid-area: 3 / 4 / span 4/ 4;
    grid: repeat(4, 50px) / 100px;
    grid-gap: 2px 2px; 
    align-content: end;
}

.backspace button, .clear button, .operations button {
    background: #8080803b;
}